* {
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 80px; /* Margin bottom by footer height */
}

.login_status {
    float:right;
}

.footer {
    height: 80px; 
    position: absolute;
    bottom:0;   
}

.btn {
    align-content:center;
}

/* Formview styling*/
.formview {
    margin-left:0;
    padding-left:0;
}

/* End Formview styling*/

/* CheckBoxList styling */

.checkboxList {
    width:60%;
    min-width:600px;
    margin-top:20px;
}

.checkboxList tr {
   height:25px;
}

.checkboxList td {
   width:33%; /* or percent value: 25% */
}

/* End CheckBoxList styling */

#AddSkillType {
    padding-left: 320px;
}

#AddPositionType {
    padding-left: 320px;
}

#AddPositionTitle {
    padding-left: 320px;
}

.table {
    margin-left:0;
}