* {
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 80px; /* Margin bottom by footer height */
}

.login_status {
    float:right;
}

.footer {
    height: 80px; 
    position: absolute;
    bottom:0;   
}

.btn {
    align-content:center;
}

/* Formview styling*/
table {
    margin-left:25px;
}

td.left_column {
    text-align:left;
    padding-left:5px;
    width:165px;
    color:black;
    font-weight:bold;
    background-color:none;
    vertical-align:top;
}

td.right_column {
    text-align:left;
    padding-left:5px;
    width:390px;
}

.textbox {
    border:1px solid lightgray;
    width:380px;
}

.label {
    border:none;
    color:black;
    font-weight:normal;
    font-size:1em;
}

/* End Formview styling*/

#AddSkillType {
    padding-left: 320px;
}

#AddPositionType {
    padding-left: 320px;
}

#AddPositionTitle {
    padding-left: 320px;
}

.table {
    margin-left:0;
}