#conatiner {height:900px;
            padding-top:50px;
}




#header {background:white; 
         padding:20px; 
         margin:0 auto; 
         border:1px solid black; 
         width:900px;
         text-align:center;

}

#Menu {background: white;
       width: 630px;
       height: 30px;
       align-content: center;
       margin:0 auto;
       border-left:1px solid black;
       border-right:1px solid black;
       border-bottom:1px solid black;
       padding-top:15px;
       text-align: center;
       padding-left: 310px;
}

#level1 { align-content: center;
}


#main {
        background:white; 
        margin:0 auto; 
        border:1px black; 
        align-content:center;
        padding-right: 20px;     
        padding-left: 20px; 
        padding-top: 20px;      
        padding-bottom: 10px; 
        width: 900px;      
        height: 650px;
        text-align:center;
        border-right:1px solid black;
        border-left:1px solid black


}



#footer {background:white; 
         color:black; 
         padding:10px; 
         margin:0 auto; 
         border:1px black; 
         width:920px;
         border:1px solid black;

}


